# Coding Temple's Data Analytics Program
---
## Python for Data Analytics: Stats Assignment

For today's homework, you will be working with AB Testing Dataset. This data was scraped from a study conducted by Udemy. The study was to determine if there was a relationship with the number of clickthroughs and webtext that was displayed. 

Your goal is to analyze the data that was collected during this study and determine whether or not there is a relationship between the two variables.

### Task 1: Imports
Import your data and your libraries needed to complete this assignment:

In [40]:
# Import statements
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as stats
from scipy.stats import chi2_contingency



df = pd.read_csv('/Users/kali/Downloads/ab_testing.csv')
df.head()

   Unnamed: 0  Pageview    Group  Click
0           0         0  Control      1
1           1         1  Control      1
2           2         2  Control      1
3           3         3  Control      1
4           4         4  Control      1

In [41]:
df.drop([1])

        Unnamed: 0  Pageview       Group  Click
0                0         0     Control      1
2                2         2     Control      1
3                3         3     Control      1
4                4         4     Control      1
5                5         5     Control      1
...            ...       ...         ...    ...
690198      690198    344655  Experiment      0
690199      690199    344656  Experiment      0
690200      690200    344657  Experiment      0
690201      690201    344658  Experiment      0
690202      690202    344659  Experiment      0

[690202 rows x 4 columns]

### Task 2: Creating Hypothesis

Before you begin working with the data, formulate your null and alternative hypothesis in the markdown cell below:

Null Hypothesis = There is no relationship between the number of clickthrough and webtext that was displayed

Alternative hypthesis = There is a relationship between the number of clickthrough and webtext that was displayed

### Task 3: Calculating Frequencies

In this task, you will calculate your frequency and your relative frequency of the `group` column

In [42]:
# calculate value_count

df['Group'].value_counts() #this is the frequency

Group
Control       345543
Experiment    344660
Name: count, dtype: int64

In [43]:
df['Group'].value_counts(normalize=True) #this is the relative frequence. Normalizing it lets us know what percentage was in the data frame

Group
Control       0.50064
Experiment    0.49936
Name: proportion, dtype: float64

Next, let's calculate the frequency and relative frequency of the `click` column:

In [44]:
df['Click'].value_counts(normalize=True) #relative frequency

Click
0    0.917846
1    0.082154
Name: proportion, dtype: float64

In [45]:
df['Click'].value_counts() #frequency

Click
0    633500
1     56703
Name: count, dtype: int64

### Task 4a: 

Look at the joint distribution of the `group` and `click` columns and make an inference on if there is a relationship between the group and clicks

In [46]:
#the crosstab summarizes the entire data set 
pd.crosstab(df['Group'], df['Click'])

Click            0      1
Group
Control     317165  28378
Experiment  316335  28325

### Task 4b:

Calculate the marginal distribution of the `group` and `click` variables:

In [47]:
#it gives us the total at of the rows and columns as well
pd.crosstab(df['Group'], df['Click'], margins = True)

Click            0      1     All
Group
Control     317165  28378  345543
Experiment  316335  28325  344660
All         633500  56703  690203

### Task 4c:
Calculate the conditional distribution of the `group` and `click` variables:

In [48]:
#taking the joint distribution and putting it into a percentage turns it into conditional distribution
round(pd.crosstab(df['Group'], df['Click'], normalize='index') * 100, 2)

Click           0     1
Group
Control     91.79  8.21
Experiment  91.78  8.22

### Task 5:

Perform a chi-squared test on your data. Interpret and communicate the results in a markdown cell below your code

In [50]:
#we would like to reject the null hypothesis, but our pvalue is bigger than 0.05 meaning we failed to reject the null hypothesis. Therefore there is no relationship between the click and webtext. 
stat, p_val, dof, exp_freq = chi2_contingency(pd.crosstab(df['Group'], df['Click']))

print(p_val)

0.9352212452988706